Repository silverstripe/silverstripe-mfa, pull requests merged in 2019-09, with the labels that each got.

#352 FIX Prevent incompatible versions of Subsites from installing alongside MFA
  composer.json
Labels: affects/v4, change/patch

#354 DOCS userhelp note for subsites
  docs/en/userguide/01_User_manual/03_Using_security_keys.md
Labels: affects/v4, type/docs

#353 FIX Prevent incompatible versions of Subsites from installing alongside MFA 3.0
  composer.json
  src/Authenticator/LoginForm.php
  src/Authenticator/MemberAuthenticator.php
  src/BackupCode/Method.php
  src/BackupCode/RegisterHandler.php
  src/BackupCode/VerifyHandler.php
  src/Controller/AdminRegistrationController.php
  src/Exception/InvalidMethodException.php
  src/Extension/AccountReset/AccountResetHandler.php
  src/Extension/AccountReset/MFAResetExtension.php
  src/Extension/AccountReset/MemberExtension.php
  src/Extension/AccountReset/SecurityAdminExtension.php
  src/Extension/AccountReset/SecurityExtension.php
  src/Extension/ChangePasswordExtension.php
  src/Extension/MemberExtension.php
  src/JSONResponse.php
  src/Method/Handler/RegisterHandlerInterface.php
  src/Method/Handler/VerifyHandlerInterface.php
  src/Method/MethodInterface.php
  src/Model/MFARegisteredMethod.php
  src/Report/EnabledMembers.php
  src/Service/BackupCodeGenerator.php
  src/Service/BackupCodeGeneratorInterface.php
  src/Service/EncryptionAdapterInterface.php
  src/Service/EnforcementManager.php
  src/Service/MethodRegistry.php
  src/Service/Notification.php
  src/Service/RegisteredMethodManager.php
  src/State/AvailableMethodDetails.php
  src/State/BackupCode.php
  src/State/RegisteredMethodDetails.php
  src/State/Result.php
  src/Store/SessionStore.php
  src/Store/StoreInterface.php
  tests/Behat/Context/LoginContext.php
  tests/php/Service/BackupCodeGeneratorTest.php
  tests/php/Stub/BasicMath/Method.php
  tests/php/Stub/BasicMath/MethodRegisterHandler.php
  tests/php/Stub/BasicMath/MethodVerifyHandler.php
Labels: affects/v3, change/patch
